<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClMwkBUvZPBUUuIO56gS4qtjZc9RhEHik</string>
	<key>GCM_SENDER_ID</key>
	<string>264569807182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irvine.sixGuys</string>
	<key>PROJECT_ID</key>
	<string>sixguys-9f4c6</string>
	<key>STORAGE_BUCKET</key>
	<string>sixguys-9f4c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264569807182:ios:1554aa650ba9be0c0efe1f</string>
</dict>
</plist>